<!--The content below is only a placeholder and can be replaced.-->
Введите алфавит:
<p></p>
<input type="text" [(ngModel)]="alphabet">
<p></p>
Введите кратность:
<p></p>
<input type="number" [(ngModel)]="multiplicity">
<p></p>
Введите начальную цепочку:
<p></p>
<input type="text" [(ngModel)]="initChain">
<p></p>
Введите конечную цепочку:
<p></p>
<input type="text" [(ngModel)]="endChain">
<!--<p>{{ alphabet }}</p>
<p>{{ multiplicity }}</p>
<p>{{ initChain }}</p>
<p>{{ endChain }}</p>-->
<p></p>
<p></p>
Введите минимальную длину:
<p></p>
<input type="number" [(ngModel)]="minLength">
<p></p>
<p></p>
Введите максимальную длину:
<p></p>
<input type="number" [(ngModel)]="maxLength">
<p></p>
<button (click)="getExpression()">Получить выражение</button>
<button (click)="getChains()">Получить цепочку</button>
<p></p>
Выражение
<p>{{ chain }}</p>
<p>{{ answer.replace(',','') }}</p>
