<!--The content below is only a placeholder and can be replaced.-->
Введите алфавит:
<p></p>
<input type="text" [(ngModel)]="alphabet">
<p></p>
Введите кратность:
<p></p>
<input type="number" [(ngModel)]="multiplicity">
<p></p>
Введите начальную цепочку:
<p></p>
<input type="text" [(ngModel)]="initChain">
<p></p>
Введите конечную цепочку:
<p></p>
<input type="text" [(ngModel)]="endChain">
<p></p>
<p></p>
Введите минимальную длину:
<p></p>
<input type="number" [(ngModel)]="minLength">
<p></p>
<p></p>
Введите максимальную длину:
<p></p>
<input type="number" [(ngModel)]="maxLength">
<p></p>
<button (click)="getExpression()">Получить выражение</button>
<button (click)="getChains()">Получить цепочки</button>
<p></p>
Регулярное выражение:
<input type="text" style="width: 600px" [(ngModel)]="chain">
<p></p>
<button (click)="setChains()">Получить цепочки по РВ</button>
<p></p>
<!--<p>{{ chain }}</p>-->
Цепочки:
<p>{{ answer }}</p>
